<h1>Movies Collection</h1>
<div *ngIf="moviesList.length != 0">
    <br>
    <button type="button" class="btn btn-success" routerLink="/createMovieData">Add New</button>
            
    <button type="button" class="btn btn-danger" (click)="deleteEmployee()">Delete</button>
    <br>
    <table class="table table-striped table-hover">
        <thead style="background-color:#0072aa;color:#fff;border:1px solid">
            <th><input type="checkbox" (change)="selectAll($event)"></th>
            <th>Movie</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Caste</th>
        </thead>
        <tr *ngFor="let movie of moviesList">
            <td><input type="checkbox" id="{{movie.id}}" value="{{movie.id}}" (click)="selectedMovies($event,movie.id)"/>
            </td>
            <td>{{ movie.title}}</td>
            <td>{{ movie.director}}</td>
            <td>{{ movie.genre}}</td>
            <td>{{ movie.cast}}</td>
        </tr>
    </table>

</div>
